function find_all_terragrunt_layer_paths() {
  find $(pwd) -name terragrunt.yml -exec grep -l '^layer:' {} \; | \
    xargs -n 1 dirname
}

for path in $(find_all_terragrunt_layer_paths); do
  export CDPATH="$CDPATH${CDPATH:+:}$path"
done
