# Created by Makefile targets
tfplan
tfstate.json

# Terragrunt cache directories
.terragrunt-cache/

# Terraform provider lock files
.terraform.lock.hcl

# Terraform cache directories
.terraform/

# Project configuration files for JetBrains IDEs like IntelliJ CE
/.idea/
